<!--The content below is only a placeholder and can be replaced.-->
<div class="container main-box">
<div class="text-center">
  <h1>
    {{title}}!
  </h1>
  <!-- <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<h2> All Limits  </h2>
<div class="limit-box" *ngIf="limits && limits.ripple"> 
  <div class="limit-header">Ripple</div>
  <table class="table">
    <thead>
      <th>
        Type
      </th>
      <th>
        Value
      </th>
      <th>
        Active ?
      </th>
      <th>
        Actions
      </th>
      <th>
        Notification Sent
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let limit of limits.ripple">
        <td>
          {{limit.gt ? 'GT' : 'LT'}}
        </td>
        <td>
          {{limit.gt ? limit.gt : limit.lt}}
        </td>
        <td>
          <input type="checkbox" [checked]="limit.active" onclick="return false;">
        </td>
        <td>
          <button class="btn btn-warning" (click)="pause(limit)" *ngIf="limit.active"> Pause </button>
          <button class="btn btn-success" (click)="activate(limit)" *ngIf="!limit.active"> Activate </button>
          <button class="btn btn-danger" (click)="delete(limit, 'ripple')"> Delete </button>
        </td>
        <td>
          {{limit.notification_sent}}
        </td>
      </tr>
    </tbody>
  </table>
  
</div>

<div class="limit-add-form-wrap">
    <form [formGroup]="addLimitForm" (ngSubmit)="addLimit()" class="form-inline">
        <div class="form-group ">
          <label class="center-block">Currency
            <!-- <input class="form-control" formControlName="name"> -->
            <select formControlName="currency">
                <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Limit Type
            <!-- <input class="form-control" formControlName="name"> -->
            <select formControlName="type">
                <option value="lt"> LT </option>
                <option value="gt"> GT </option>
            </select>
          </label>
        </div>

        <div class="form-group">
          <label class="center-block">Value:
            <input class="form-control" formControlName="value">
          </label>
        </div>
        <button type="submit" class="btn btn-success"> Add </button>
    </form>
  </div>
</div>




